# Packages
node_modules
**/node_modules

# Build artifacts
dist/
typings/
tsconfig.tsbuildinfo

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Docker (experimental)
docker-compose.config.yml

# Tests
coverage/

# Miscellaneous
.tmp/
dump.sql
hasura/hasura.exe
