# Packages
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Log files
logs/
*.log
npm-debug.log*
coverage/

# Runtime data
pids
*.pid
*.seed

# Env
.env
config.yaml
codegen.yml
docker-compose.config.yml

# Dist
dist/
typings/

# Miscellaneous
.tmp/
dump.sql
