version: "3.7"

services:
  rabbitmq:
    volumes:
      - ./rabbitmq-data:/var/lib/rabbitmq

  postgres:
    environment:
      POSTGRES_USER: "yukikaze"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "yukikaze"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  postgres-exporter:
    environment:
      DATA_SOURCE_NAME: "postgresql://yukikaze:admin@postgres:5432/yukikaze?sslmode=disable"

  hasura:
    environment:
      HASURA_GRAPHQL_DATABASE_URL: "postgresql://yukikaze:admin@postgres:5432/yukikaze"
      HASURA_GRAPHQL_ENABLE_CONSOLE: "false"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: "startup, http-log, webhook-log, websocket-log, query-log"
      HASURA_GRAPHQL_ADMIN_SECRET: "admin"
      HASURA_GRAPHQL_JWT_SECRET: '{"type":"HS256","key":""}'
    volumes:
     - ./hasura/migrations:/hasura-migrations
     - ./hasura/metadata:/hasura-metadata

  redis:
    volumes:
      - ./redis-data:/data

  redis-exporter:
    environment:
      REDIS_ADDR: "redis://redis:6379"

  prometheus:
    volumes:
      - ./prometheus-data:/prometheus

  grafana:
    environment:
      GF_DEFAULT_INSTANCE_NAME: "yukikaze"
      # GF_SERVER_DOMAIN: ""
      # GF_SERVER_ROOT_URL: ""
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      # GF_AUTH_ANONYMOUS_ORG_NAME: ""
      # GF_AUTH_GITHUB_ENABLED: ""
      # GF_AUTH_GITHUB_ALLOW_SIGN_UP: ""
      # GF_AUTH_GITHUB_CLIENT_ID: ""
      # GF_AUTH_GITHUB_CLIENT_SECRET: ""
      # GF_AUTH_GITHUB_SCOPES: user:email,read:org
      # GF_AUTH_GITHUB_AUTH_URL: https://github.com/login/oauth/authorize
      # GF_AUTH_GITHUB_TOKEN_URL: https://github.com/login/oauth/access_token
      # GF_AUTH_GITHUB_API_URL: https://api.github.com/user
      # GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS: ""
      GF_ANALYTICS_REPORTING_ENABLED: "false"
      GF_INSTALL_PLUGINS: "flant-statusmap-panel,grafana-piechart-panel"
    volumes:
      - ./grafana-data:/var/lib/grafana

  gateway:
    image: spectacles/gateway:latest
    environment:
      DISCORD_TOKEN: ""
      # DISCORD_EVENTS: ""
      BROKER_TYPE: "amqp"
      BROKER_GROUP: "gateway"
      BROKER_MESSAGE_TIMEOUT: "10m"
      PROMETHEUS_ADDRESS: ":8080"
      PROMETHEUS_ENDPOINT: "/metrics"
      SHARD_STORE_TYPE: "redis"
      REDIS_URL: ""
      REDIS_POOL_SIZE: 5

  proxy:
    environment:
      # REDIS_URL: ""
      # AMQP_URL: ""
      AMQP_GROUP: "rest"
      # AMQP_SUBGROUP: ""
      AMQP_EVENT: "REQUEST"

  handler:
    environment:
      # PGHOST: ""
      # PGPORT: ""
      PGDATABASE: "yukikaze"
      PGUSERNAME: "yukikaze"
      PGPASSWORD: "admin"
      DISCORD_TOKEN: ""
      TRANSLATIONS_API: ""
      GITHUB_TOKEN: ""

  api:
    environment:
      # PGHOST: ""
      # PGPORT: ""
      PGDATABASE: "yukikaze"
      PGUSERNAME: "yukikaze"
      PGPASSWORD: "admin"
      DISCORD_TOKEN: ""
      JWT_SECRET: ""
      DISCORD_CLIENT_ID: ""
      PUBLIC_API_DOMAIN: "http://localhost:3500"
      PUBLIC_FRONTEND_DOMAIN: "http://localhost:4000"
      # DISCORD_SCOPES: ""
      DISCORD_CLIENT_SECRET: ""

  website:
    environment: []
