version: '3.7'

services:
  postgres:
    environment:
      POSTGRES_USER: 'yuudachi'
      POSTGRES_PASSWORD: 'admin'
      POSTGRES_DB: 'yuudachi'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - '127.0.0.1:5432:5432'

  redis:
    volumes:
      - ./redis-data:/data
    ports:
      - '127.0.0.1:6379:6379'
