version: "3.7"

services:
  rabbitmq:
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"

  postgres:
    environment:
      POSTGRES_USER: "yuudachi"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "yuudachi"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

  postgres-exporter:
    environment:
      DATA_SOURCE_NAME: "postgresql://yuudachi:admin@postgres:5432/yuudachi?sslmode=disable"

  hasura:
    environment:
      HASURA_GRAPHQL_DATABASE_URL: "postgresql://yuudachi:admin@postgres:5432/yuudachi"
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: "startup, http-log, webhook-log, websocket-log, query-log"
      HASURA_GRAPHQL_ADMIN_SECRET: "admin"
      HASURA_GRAPHQL_JWT_SECRET: '{"type":"HS256","key":""}'
    expose:
      - "8080"
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
     - ./hasura/migrations:/hasura-migrations
     - ./hasura/metadata:/hasura-metadata

  redis:
    volumes:
      - redis-data:/data
    ports:
      - "127.0.0.1:6379:6379"

  redis-exporter:
    environment: []

  prometheus:
    volumes:
      - prometheus-data:/prometheus
    ports:
      - "127.0.0.1:9090:9090"

  grafana:
    environment:
      GF_DEFAULT_INSTANCE_NAME: "yuudachi"
      # GF_SERVER_DOMAIN: ""
      # GF_SERVER_ROOT_URL: ""
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      # GF_AUTH_ANONYMOUS_ORG_NAME: ""
      # GF_AUTH_GITHUB_ENABLED: ""
      # GF_AUTH_GITHUB_ALLOW_SIGN_UP: ""
      # GF_AUTH_GITHUB_CLIENT_ID: ""
      # GF_AUTH_GITHUB_CLIENT_SECRET: ""
      # GF_AUTH_GITHUB_SCOPES: user:email,read:org
      # GF_AUTH_GITHUB_AUTH_URL: https://github.com/login/oauth/authorize
      # GF_AUTH_GITHUB_TOKEN_URL: https://github.com/login/oauth/access_token
      # GF_AUTH_GITHUB_API_URL: https://api.github.com/user
      # GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS: ""
      GF_ANALYTICS_REPORTING_ENABLED: "false"
      GF_INSTALL_PLUGINS: "flant-statusmap-panel,grafana-piechart-panel"
    volumes:
      - grafana-data:/var/lib/grafana

  gateway:
    image: spectacles/gateway:latest
    environment:
      DISCORD_TOKEN: ""
      # DISCORD_EVENTS: ""
      BROKER_TYPE: "amqp"
      BROKER_GROUP: "gateway"
      BROKER_MESSAGE_TIMEOUT: "10m"
      PROMETHEUS_ADDRESS: ":8080"
      PROMETHEUS_ENDPOINT: "/metrics"
      # AMQP_URL: ""
      SHARD_STORE_TYPE: "redis"
      # REDIS_URL: ""
      REDIS_POOL_SIZE: 5

  proxy:
    environment:
      # REDIS_URL: ""
      # AMQP_URL: ""
      AMQP_GROUP: "rest"
      AMQP_EVENT: "REQUEST"

  handler:
    environment:
      # PGHOST: ""
      # PGPORT: ""
      PGDATABASE: "yuudachi"
      PGUSERNAME: "yuudachi"
      PGPASSWORD: "admin"
      DISCORD_TOKEN: ""
      TRANSLATIONS_API: "http://api:3500"

  api:
    environment:
      # PGHOST: ""
      # PGPORT: ""
      PGDATABASE: "yuudachi"
      PGUSERNAME: "yuudachi"
      PGPASSWORD: "admin"
      DISCORD_TOKEN: ""
      JWT_SECRET: ""
      DISCORD_CLIENT_ID: ""
      PUBLIC_API_DOMAIN: "http://localhost:3500"
      PUBLIC_FRONTEND_DOMAIN: "http://localhost:4000"
      # DISCORD_SCOPES: ""
      DISCORD_CLIENT_SECRET: ""

  website:
    environment: []

volumes:
  rabbitmq-data:
    name: "rabbitmq-data"
  postgres-data:
    name: "postgres-data"
  redis-data:
    name: "redis-data"
  prometheus-data:
    name: "prometheus-data"
  grafana-data:
    name: "grafana-data"
