version: '3.7'

services:
  rabbitmq:
    volumes:
      - ./rabbitmq-data:/var/lib/rabbitmq

  postgres:
    environment:
      POSTGRES_USER: 'yuudachi'
      POSTGRES_PASSWORD: 'admin'
      POSTGRES_DB: 'yuudachi'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  postgres-exporter:
    environment:
      DATA_SOURCE_NAME: 'postgresql://yuudachi:admin@postgres:5432/yuudachi?sslmode=disable'

  hasura:
    environment:
      HASURA_GRAPHQL_DATABASE_URL: 'postgresql://yuudachi:admin@postgres:5432/yuudachi'
      HASURA_GRAPHQL_ENABLE_CONSOLE: 'false'
      HASURA_GRAPHQL_ADMIN_SECRET: 'admin'
      HASURA_GRAPHQL_JWT_SECRET: '{"type":"HS256","key":""}'
    volumes:
      - ./hasura/migrations:/hasura-migrations
      - ./hasura/metadata:/hasura-metadata

  redis:
    volumes:
      - ./redis-data:/data

  redis-exporter:
    environment:
      REDIS_ADDR: 'redis://redis:6379'

  prometheus:
    volumes:
      - ./prometheus-data:/prometheus

  grafana:
    environment:
      GF_DEFAULT_INSTANCE_NAME: 'yuudachi'
      GF_SECURITY_ADMIN_USER: 'admin'
      GF_SECURITY_ADMIN_PASSWORD: 'admin'
      GF_AUTH_ANONYMOUS_ENABLED: 'true'
      GF_ANALYTICS_REPORTING_ENABLED: 'false'
      GF_INSTALL_PLUGINS: 'flant-statusmap-panel,grafana-piechart-panel'
    volumes:
      - ./grafana-data:/var/lib/grafana

  gateway:
    image: spectacles/gateway:latest
    environment:
      DISCORD_TOKEN: ''
      BROKER_TYPE: 'amqp'
      BROKER_GROUP: 'gateway'

  proxy:
    environment:
      AMQP_GROUP: 'rest'
      AMQP_EVENT: 'REQUEST'

  handler:
    environment:
      PGDATABASE: 'yuudachi'
      PGUSERNAME: 'yuudachi'
      PGPASSWORD: 'admin'
      DISCORD_CLIENT_ID: ''
      DISCORD_TOKEN: ''
      GITHUB_TOKEN: ''

  api:
    environment:
      PGDATABASE: 'yuudachi'
      PGUSERNAME: 'yuudachi'
      PGPASSWORD: 'admin'
      DISCORD_TOKEN: ''
      CORS: ''
      JWT_SECRET: ''

  graphql:
    environment:
      POSTGRES_USER: 'yuudachi'
      POSTGRES_DB: 'yuudachi'
      POSTGRES_PASSWORD: 'admin'
      JWT_SECRET: ''

  auth:
    environment:
      PGDATABASE: 'yuudachi'
      PGUSERNAME: 'yuudachi'
      PGPASSWORD: 'admin'
      CORS: ''
      JWT_SECRET: ''
      DISCORD_CLIENT_ID: ''
      DISCORD_CLIENT_SECRET: ''

  website:
    environment: []
