html,
body {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
		Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

pre {
	font-family: 'JetBrains Mono';
}

code {
	font-family: 'JetBrains Mono';
}
