{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true
		},
		"transform": {
			"treatConstEnumAsEnum": true,
			"useDefineForClassFields": true
		},
		"target": "es2022",
		"keepClassNames": true,
		"preserveAllComments": false,
		"externalHelpers": true
	},
	"module": {
		"type": "nodenext"
	},
	"sourceMaps": true,
	"isModule": true
}
