global:
  scrape_interval: 5s
  evaluation_interval: 5s
  # scrape_timeout is set to the global default (10s).

alerting:
  alertmanagers:
    - static_configs:
        - targets:
      # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: 'rabbitmq'
    static_configs:
      - targets:
          - 'rabbitmq:15692'

  - job_name: 'postgresql'
    static_configs:
      - targets:
          - 'postgres-exporter:9187'

  - job_name: 'redis'
    static_configs:
      - targets:
          - 'redis-exporter:9121'

  - job_name: 'gateway'
    static_configs:
      - targets:
          - 'gateway:8080'
