name: Docker
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build containers
        run: docker-compose -f docker-compose.yml -f docker-compose.prod.yml build --no-cache --pull
