name: Label Sync
on:
  workflow_dispatch:
  issues:
  label:
  push:
    branches:
      - next
    paths:
      - '.github/labels.yml'
jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Label Sync
        uses: crazy-max/ghaction-github-labeler@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
