name: Tests
on: [push, pull_request]
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install node.js v16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        uses: ./.github/actions/yarnCache

      - name: Build dependencies
        run: yarn build

      - name: ESLint
        if: ${{ github.event_name != 'push' }}
        run: yarn lint --format=compact

      - name: Docker-Compose Prod
        run: docker-compose -f docker-compose.yml -f docker-compose.prod.yml

      - name: Docker-Compose Local
        run: docker-compose -f docker-compose.yml -f docker-compose.local.yml
